#define table(columns,data)
<table border="1px" cellspacing="0px" cellpadding="5px">

#for(x : columns)
<th>#(x)</th>
#end


#for(x : data)

<tr>
#for(i : x)

<td>#(i)</td>

#end
</tr>
#end

</table>
#end


###带默认值的form

#define form(form,model)
<form action="/form/#(form.type)-#(form.tableName)" method="post">
#for(widget : form.widgets)
<br>
#(widget.cnName):

#if(widget.type=="text")
#@inputText(widget.enName,model[for.index])
#end

#if(widget.type=="password")
#@inputPwd(widget.enName,model[for.index])
#end

#if(widget.type=="select")
#@selectTag(widget.enName,widget.values,model[for.index])
#end

<br>
#end
</form>
#end

###仅仅显示form

#define form1(form)
<form action="/form/#(form.type)-#(form.tableName)" method="post">
#for(widget : form.widgets)
<br>
#(widget.cnName):

#if(widget.type=="text")
#@inputText1(widget.enName)
#end


<br>
#end
</form>
#end


#define bar(bar)
#@echarts()
<div id="bar" style="height: 400px; width: 48%; float: right;"></div>

<<script type="text/javascript">


 echarts.init($("#bar")[0],"infographic").setOption({
        	 
        	 title : {
        	        text: '年度借款数据',
        	       // subtext: '纯属虚构'
        	    },
        	    tooltip : {
        	        trigger: 'axis'
        	    },
        	    legend: {
        	        data:['成交笔数','借款总额']
        	    },
        	    toolbox: {
        	        show : true,
        	        feature : {
        	            mark : {show: true},
        	            dataView : {show: true, readOnly: false},
        	            magicType : {show: true, type: ['line', 'bar']},
        	            restore : {show: true},
        	            saveAsImage : {show: true}
        	        }
        	    },
        	    calculable : true,
        	    xAxis : [
        	        {
        	            type : 'category',
        	            data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
        	        }
        	    ],
        	    yAxis : [
        	        {
        	            type : 'value'
        	        }
        	    ],
        	    series : [
        	           #for(x:bar)   
        	        {
        	            name:'#(x.key)',
        	            type:'bar',
        	            data:[
        	                  #for(data:x.value)
        	                  #(data),
        	                  #end
        	                  ]
        	            
        	        },
        	        #end
        	    ]
        	
        });
 </script>

#end


