#define table(columns,data)
<table border="1px" cellspacing="0px" cellpadding="5px">

#for(x : columns)
<th>#(x)</th>
#end


#for(x : data)

<tr>
#for(i : x)

<td>#(i)</td>

#end
</tr>
#end

</table>
#end


###带默认值的form

#define form(form,model)
<form action="/form/#(form.type)-#(form.tableName)" method="post">
#for(widget : form.widgets)
<br>
#(widget.cnName):

#if(widget.type=="text")
#@inputText(widget.enName,model[for.index])
#end

#if(widget.type=="password")
#@inputPwd(widget.enName,model[for.index])
#end

#if(widget.type=="select")
#@selectTag(widget.enName,widget.values,model[for.index])
#end

<br>
#end
</form>
#end

###仅仅显示form

#define form1(form)
<form action="/form/#(form.type)-#(form.tableName)" method="post">
#for(widget : form.widgets)
<br>
#(widget.cnName):

#if(widget.type=="text")
#@inputText1(widget.enName)
#end


<br>
#end
</form>
#end





