
#@jquery()
<script type="text/javascript">  
$("#submit").click(function () { //按钮单击事件
    
    var txt_userName = document.forms["setForm"]["userName"].value;
    var txt_oldpassword = document.forms["setForm"]["oldPassword"].value;
    var txt_newpassword = document.forms["setForm"]["newPassword"].value;
    var txt_newpassword2 = document.forms["setForm"]["newPassword2"].value;
    var txt_phone = document.forms["setForm"]["phone"].value;
    
    var pattern = /^1[34578]\d{9}$/;
    
    if(txt_userName.length == 0){
        $("#userNamelabel").text(" 用户名不能为空，请重新输入！ ") ;
        return;
    }
    
    if(txt_oldpassword == txt_newpassword && txt_oldpassword.length !=0)  
    {  
        $("#passwordlabel1").text("新密码不能和旧密码相同，请重新输入！")  
        return; 
    }  
    
    if(txt_newpassword != txt_newpassword2)  
    {  
        $("#passwordlabel2").text("两次输入新密码不同，请重新输入！")  
        return;
    }  
   
    if (! txt_phone.match("^1[3|4|5|7|8]([0-9])\\d{8}$") ) {
        $("#phonelabel").text("手机号码格式不正确 ，请重新输入！")  
        return;
    } 
    debugger;
    //开始发送数据
    $.ajax
    ({ //请求登录处理页
     type:"POST",
     url: "/set/submit", //处理url 
     
     //传送请求数据
     data: {userName:txt_userName,oldPassword:txt_oldpassword,
    	 newPassword:txt_newpassword,newPassword2:txt_newpassword2,phone:txt_phone},
     success: function (data) { //登录成功后返回的数据
      //根据返回值进行状态显示  
     $("#userNamelabel").text(data.msguserName) ;
     $("#passwordlabel1").text(data.msgpassword1) ;
     $("#passwordlabel2").text(data.msgpassword2) ;
     $("#phonelabel").text(data.msgphone) ;
     if(data.msg !=null){
    	 window.location.reload(); 
     }
    	    
     }
    })
   })
</script> 
    <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="mySmallModalLabel">用户信息</h4>
  	</div>
    <div id="main" class="modal-body">
	   <form class="form-horizontal" role="form" name="setForm">
		   <input type="hidden" name="user.id" value="#(user.id ??)">
		   
		    <div  class="form-group">
			    <label class="col-md-2 control-label input-label" for="userName">用户名</label>
			    <div class="col-md-8">
			    	<input type="text" class="form-control"   id="userName" onfocus="$('#userNamelabel').text('')" name="userName" placeholder="用户名" value="#(user.name ??)">
			     </div>
			     <label class="col-md-8 control-label modal-label" id="userNamelabel">#(msguserName??)</label>
		    </div>
		    <br>
		    
		    <div class="form-group">
			    <label class="col-md-2 control-label input-label" for="oldPassword">旧密码</label>
			    <div class="col-md-8">
			    	<input type="text" class="form-control"  id="oldPassword" name="oldPassword" placeholder="旧密码" >
			     </div>
		    </div>
		    <br>
		    
		    <div class="form-group">
		    	<label class="col-md-2 control-label input-label" for="newPassword">新密码</label>
		    	<div class="col-md-8">
		    		<input type="text"  class="form-control" id="newPassword" onfocus="$('#passwordlabel1').text('')" name="newPassword" placeholder="新密码" >
		     	</div>
		     	<label class="col-md-8 control-label modal-label" id="passwordlabel1">#(msgpassword1??)</label>
		    </div>
		    <br>
		    
		    <div class="form-group">
		    	<label class="col-md-2 control-label input-label" for="newPassword2">重新输入</label>
		    	<div class="col-md-8">
		    		<input type="text" class="form-control"  id="newPassword2" onfocus="$('#passwordlabel2').text('')" name="newPassword2" placeholder="新密码" >
		     	</div>
		     	<label class="col-md-8 control-label modal-label" id="passwordlabel2">#(msgpassword2??)</label>
		    </div> 
		    <br>
		    
		    <div class="form-group"> 
		    	<label class="col-md-2 control-label input-label" for="phone">手机</label>
		    	<div class="col-md-8">
		     		<input type="text" class="form-control"  id="phone" onfocus="$('#phonelabel').text('')" name="phone" placeholder="新手机" value="#(user.phone ??)">
		     	</div>
		     	<label class="col-md-8 control-label modal-label" id="phonelabel">#(msgphone??)</label>
		    </div> 
		    <br>
		    <div class="form-group">
		    	<div class="col-md-4 col-md-offset-8">
		    	<button id="submit" type="button" class="btn btn-primary" style="padding:6px 12px;">更新</button>
	   	        <button type="button"  class="btn btn-default" data-dismiss="modal" style="padding:6px 12px;">关闭</button>
		    	</div>
		    </div>  
	   </form>  
	</div>


