<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>possibleCustomer</title>
#@jquery() #@vue()
</head>
<body>
<h1>possibleCustomer</h1>

 <div id="app">
            <fieldset>
                <legend>
                   Serch
                </legend>
                <form id="form">
                 #for(h : heards)
                <div class="form-group">
                    <label>#(h):</label>
                    <input type="text" name="#(h)"/>
                </div>
                #end
                </form>
                <button id="btn">ann</button>
        </fieldset> 
        <table  border="1px" cellspacing="0px" cellpadding="5px">
           <thead>
                <tr>
                 #for(h : heards)
                    <th>#(h)</th>
                    #end
                </tr>
            </thead>
            <tbody>
                <tr v-for="x in people">
                   <td v-for="(value,key) in x">{{value}}</td>
                <!--  <td :class="'text-center'"><button @click="deletePerson($index)">Delete</button></td> -->
                </tr>
            </tbody>
        </table>
        
        <button class="page" v-for="n in totalPage" @click="getPage(n)">{{n}}</button>
        
        </div>
        
 #(page)       


 <script>
 
         var vm = new Vue({
            el: '#app',
            data: {
            	totalPage:#(page.totalPage),
            	pageNumber:#(page.pageNumber),
                people: [

#for(x : page.list)
   {
    #for(h : heards)
	#(h):'#(x.get(h))',
	#end
	},
#end
                        ]
            },
            methods:{
            	getPage: function(index){
                	debugger;
        			//alert($(this).html());
        			 $(".page").removeAttr("disabled");
        			 
        			 $(".page").each(function () {
        		        	if($(this).text()==index){
        		        		$(this).attr("disabled","disabled");
        		        	};
        				});
        			
        			
        			var fields=[];
        			#for(x:heards)
        			fields.push('#(x)');
        			#end
        			 $.ajax({
                         type: "POST",
                         url: "/possibleCustomer/ajax/"+index+"-"+fields,
                         success: function(data){
        	            	vm.people=[];
        	            	vm.people=data;
                      
                         } 
        			
        			 }); 
                }
            }
        })
        
         //提交表单
         $("#btn").click(function () {
 			var fields=[];
			#for(x:heards)
			fields.push('#(x)');
			#end
			var s=$("#form").serialize().replace(/&/g,",");
 			 $.ajax({
                  type: "POST",
                  url: "/possibleCustomer/submit/"+fields+"-"+s,
                  success: function(msg){
 	            	vm.people=[];
 	            	vm.people=msg.list;
 	            	vm.pageNumber=msg.pageNumber;
 	            	vm.totalPage=msg.totalPage;
 	            	 $(".page").each(function () {
 	                	if($(this).text()==vm.pageNumber){
 	                		$(this).attr("disabled","disabled");
 	                	};
 	        		});
                  } 
 			 });
 		}); 
         
          $(".page").each(function () {
        	if($(this).text()==vm.pageNumber){
        		$(this).attr("disabled","disabled");
        	};
		}); 
        
         
        //点击页码 
        /* $(".page").click(function () {
        	debugger;
			//alert($(this).html());
			 $(".page").removeAttr("disabled");
			$(this).attr("disabled","disabled");
			
			
			var fields=[];
			#for(x:heards)
			fields.push('#(x)');
			#end
			 $.ajax({
                 type: "POST",
                 url: "/possibleCustomer/ajax/"+$(this).text()+"-"+fields,
                 success: function(data){
	            	vm.people=[];
	            	vm.people=data;
              
                 } 
			
			 }); 
			 
			
			
		});  */
         
         
         
    </script>




</body>
</html>