#erp
#dlcat_erp_url = jdbc:mysql://118.178.93.85/dlcat_erp?characterEncoding=utf8&zeroDateTimeBehavior=convertToNull
#dlcat_erp_user = dlcat
#dlcat_erp_pwd = dlcat.com

#\u56fe\u7247\u4e0a\u4f20\u57df\u540d
img_base=http://test.img:8080
#\u56fe\u7247\u771f\u5b9e\u5b58\u50a8\u8def\u5f84
img_path=E://TOMCAT
baseDownloadPath=E://TOMCAT

dlcat_erp_url = jdbc:mysql://localhost:3306/dlcat_erp?characterEncoding=utf8&zeroDateTimeBehavior=convertToNull
dlcat_erp_user = root
dlcat_erp_pwd = zhao