<!-- <!DOCTYPE html>
<html> -->
<meta charset='utf-8'>
<div id='xxdialog'></div>
<!-- 模态弹出窗内容 -->
<script type="x-template" id='tpl'>
	<div id='tstw'>
	<div class="modal  " id="mymodalData" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel"  style='display:block;'><!--aria-hidden="true"-->
		<div class="modal-dialog"
			style="position: fixed; top: 50%; left: 50%;width: 70%;
 			-webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%);">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" onclick='delwindowbyid("tstw")' class="close" >
						<span aria-hidden="true">×</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">模态弹出窗标题</h4>
				</div>
				<div class="modal-body" style="    height: 599px;">
					
               <iframe v-bind:src="src" style="width: 100%; height: 100%;" frameborder="no" border="0" framespacing="0"></iframe>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" onclick='delwindowbyid("tstw")' >关闭</button>
					<button type="button" class="btn btn-primary">保存</button>
				</div>
			</div>
		</div>
	</div>
	</div>
	</script>
	<script>
	/*$(function () { $('#mymodalData').modal({
		keyboard: true
	})});*/
	</script>
	<script type="text/javascript">
	function showwin(node,src){
		//console.log(this);
		var div=document.createElement('div');
		div.setAttribute('id','tstw');
		node.parentElement.append(div);
		xd =new Vue({
			el:'#tstw',
			data:{a:2,
				src:src==null?'?':src+'?ths='+ths},
			template:'#tpl'
		});
	}
	function delwindowbyid(id){
		document.getElementById(id).parentNode.removeChild(document.getElementById(id));
	}
	</script>
<!-- </html> -->