<!-- <!DOCTYPE html>
<html> -->
<meta charset='utf-8'>
<style>
<!--
#xw{height: 25px; width:25px;    background: gray;}
-->
</style>
<div id='xxdialog'></div>
<!-- 模态弹出窗内容 -->
<script type="x-template" id='tpl'>
	<div id='tstw'>
	<div class="modal  " id="mymodalData" tabindex="-1" role="dialog"
		aria-labelledby="mySmallModalLabel"  style='display:block;'><!--aria-hidden="true"-->
		<div id='win' class="modal-dialog" draggable="true"
			style="position: fixed; top: 5%; left: 50%;width: 70%;
 			-webkit-transform: translateX(-50%) translateY(0%); -moz-transform: translateX(-50%) translateY(0%); -ms-transform: translateX(-50%) translateY(0%);">
			<div class="modal-content" style=' padding: 5px;'>
				<div class="modal-header" style="background: #b8e0fd;border-radius:4px;">
					<button type="button" onclick='delwindowbyid("tstw")' class="close" id='xw'>
						<span aria-hidden="true">×</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" id2="myModalLabel" id='wintitle' onload='setmove(this)'>表单</h4>
				</div>
				<div class="modal-body" style="    height: 599px;">
					
               <iframe v-bind:src="src" style="width: 100%; height: 100%;" frameborder="no" border="0" framespacing="0"></iframe>
				</div>
				<div class="modal-footer">
					<!--<button type="button" class="btn btn-default" onclick='delwindowbyid("tstw")' >关闭</button>
					<button type="button" class="btn btn-primary">保存</button>-->
				</div>
			</div>
		</div>
	</div>
	</div>
	</script>
	<script>
	/*$(function () { $('#mymodalData').modal({
		keyboard: true
	})});*/
	</script>
	<script type="text/javascript">
	//isMultiple定义在table.html中 
	function showwin(node,src){
		//console.log(this);
		usetype=node.getAttribute('usetype');
		if(usetype=='1'){
			location.href=src+'?requestPara='+JSON.stringify(requestPara);
			return;
		}
		else if(usetype=='2'){
			var xhr=new XMLHttpRequest();
			xhr.open('post',src+'?');
			//post要加这一句
			xhr.setRequestHeader('Content-type','application/x-www-form-urlencoded');
			xhr.send(ths[0]+'='+getchecked());
			xhr.onload=function(resp){
				//var userdata=JSON.parse( resp.target.responseText);
				alert(resp.target.responseText);
			}
		}
		else{
			if(document.getElementById('tstw')!=null)
				return;
			var div=document.createElement('div');
			div.setAttribute('id','otstw');
			node.parentElement.append(div);
			var chkpara="";
			try{chkpara=(ths[0]+'='+getchecked());}
			catch(e){}
			xd =new Vue({
				el:'#otstw',
				data:{a:2,//typeof(ths)=="undefined"  	ths instanceof Array
					src:src==null?'/test/formTest':src+'?'+ chkpara },
				template:'#tpl'
			});
			setTimeout("setDragable(document.getElementById('win'))",800);
			}
	}
	function delwindowbyid(id){
		document.getElementById(id).parentNode.removeChild(document.getElementById(id));
		location.href=location.href;
	}
	/*document.getElementById('win').ondrag=function(e){
		console.log(e);
		console.log(this);	
		this.style.transform='translate('+e.offsetX+"px,"+e.offsetY+"px)";
	}*/ 
	function getchecked(){
		//主键:tbkeys
		if(isMultiple!=null&&!isMultiple){
			
			return select_user!=null?select_user[ths[0]]:null;
		}
		ckd=[];
		chk=document.getElementsByName('checks');
		for(var i=0;i<chk.length;i++){
		    if(chk[i].checked)
		        ckd.push(chk[i].value);}
		return ckd;
	}
	function setmove(w){
		console.log('setmove',w);
		//w=document.getElementById('win');
		loc=mov=[0,0];
		w.onmousedown=function(e){//console.log(e);
			loc[0]=e.clientX,loc[1]=e.clientY;}
		document.body.onmouseup=function(e){//console.log(e);//de
			if(loc[0]<0)return;
			mov[0]=e.clientX-loc[0],mov[1]=e.clientY-loc[1];
			w.style.left=w.style.left.match(/\d+/)[0]-0+mov[0];
			w.style.top=w.style.left.match(/\d+/)[0]-0+mov[1];
			loc=[-1,-1];
		}
	}
	//document.onclick=function(e){console.log(e);}
	/* 鼠标拖动 */
    
    function setDragable(oDrag) {
        //var oDrag = "";
        //var oDrag=document.getElementById('win');
        var ox, oy, nx, ny, dy, dx,m=0;
        function drag(e) {
            //var e = e ? e : event;
            //oDrag = e.target ? e.target : e.srcElement;
            //if (oDrag.className.indexOf("dragObj") == -1) { oDrag = ""}
            m=1
            ox = e.clientX;
            oy = e.clientY;
        }
        function dragPro(e) {
            if(m!=1)
                return;
            if (oDrag != "") {
                //var e = e ? e : event;
                dx = parseInt(oDrag.style.left);
                dy = parseInt(oDrag.style.top);
                nx = e.clientX;
                ny = e.clientY;
                oDrag.style.left = (dx + (nx - ox)) + "px";
                oDrag.style.top = (dy + (ny - oy)) + "px";
                ox = nx;
                oy = ny;
            }
        }
        oDrag.onmousedown = function(e) { drag(e); }
        document.onmouseup = function() { m=0; }
        document.onmousemove = function(event) { dragPro(event); }
    }
	</script>
<!-- </html> -->