<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>测试表格模板</title>
<style type="text/css">
#jumpul li{display:inline;margin:3px;}
table tr:nth-child(even){background:#EEE;}
tbody tr:hover{background:#DDD;}
th,td{margin:0 5px;}
.bigchk{height:16px;width:16px;}
</style>
<link rel="stylesheet" type="text/css" href="/js/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/examine.css">
<link rel="stylesheet" type="text/css" href="/js/My97DatePicker/skin/WdatePicker.css">
<script type="text/javascript" src='/js/jquery-3.2.0.min.js'></script>
<script type="text/javascript" src='/js/bootstrap-3.3.7-dist/js/bootstrap.min.js'></script>
<script type="text/javascript" src='/js/vue/vue.js'></script>
<script language="javascript" type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src='/js/toast.js'></script>
</head>
###@jquery?()
<body>
	#include('./dialog.html')
	#set(tableHeaderList = response.data.tableHeader)
	#set(searchList = response.data.search)
	###set(dataList = response.data.dataList)
	#set(btnList = response.data.button)
	#set(tableName = response.data.name)
	#set(dataUrl = response.data.dataUrl)
	#set(thdata=response.data.tableHeaderData)
	<div class="container-fluid" style="padding-top:20px;">
        <div id='conditions'>
			<form class="form-inline" role="form" style="padding-top:20px;">
			#if(searchList)
				#for(search:searchList)
					#if(search.type == "select")
					 <div class="form-group" style="margin-bottom:12px;    margin-right: 20px;">
		                    <label for="examine-select">#(search.CNName):</label>
		                    <select class="form-control" name="#(search.fieldName)">
			                    <option value="">--请选择--</option>
								#for(option:search.optionList)
									<option value="#(option.item_no)">#(option.item_name)</option>
								#end
		                    </select>
		                </div>
						
					#elseif(search.type == "date")
						<div class="form-group" style="margin-bottom:12px;    margin-right: 20px;">
		                    <label for="examineTime1">#(search.CNName):</label>
		                    <input class="Wdate form-control" type="date" name='#(search.fieldName)'  onClick="WdatePicker()">
		                </div>         
		           
					#else
						<div class="form-group" style="margin-bottom:12px;    margin-right: 20px;">
		                    <label for="examineKeytxt">#(search.CNName):</label>
		                    <input  name="#(search.fieldName)" type="text" class="form-control" id="examineKeytxt" placeholder="请输入关键字">
		                </div>
					#end
				#end
				#if(searchList.size()>0)
				<div class="form-group" style="padding-left:10px;margin-bottom:12px;" onclick='seek()'><a></a></div>
				#end
			#end
			</form>
		</div>
		<!--<p>按钮区域</p>  -->
		<div class="examine-table" id='btnarea'>
	         <div class="examine-btn"  style="padding-top:20px; padding-bottom:6px;" id='operations'>
	             	#if(btnList)
						#for(btn:btnList)<!-- disabled -->
							<button type="button" id='btn#(btn.id)' class="btn btn-warning" onclick=" showwin(this,'#(btn.url)')"  usetype='#(btn.use_type)' 
								needselrow='#(btn.is_select_row)' title='#(btn.is_select_row==1?"请选择一条记录":"")'>#(btn.name)</button>
						#end
					#end
	         </div>
	
		<div id='table_and_page'>
		<!-- <p>表格数据</p> -->
		<div id='datatable' style='max-width:100%;overflow:auto;'>
		    <table class="table text-center" style='min-width:1000px;'>
		             <thead style='background-color: #7bF;' keys>
					#if(tableHeaderList)
						<tr id='datafieldname'>
							<th class="text-center" style='width: 40px;'>#if(thdata.isMultiple())
							<input type='checkbox' onchange='selectall(this)'  class='bigchk'>
							#end</th>
							#for(header:tableHeaderList)
								<th field='#(header.fieldName)' class="text-center" 
								isKey='#(thdata.keys!=null&&thdata.keys.contains(header.fieldName))'>#(header.CNName)</th>
							#end
						</tr>
					#end
					</thead>
					<!-- v-if='userdatas.response.status==200' -->
		            <tbody v-if='userdatas.response.status==200' id='tbody'>
					
					<tr  v-for='user in userdatas.response.data.dataList' v-on:click='get_select_name(user)'
						:style='(user!=null&&select_user!=null&&user[ths[0]]==select_user[ths[0]])?"background:#a5d8f7;color:white;":""'>
						<td xdonclick='reversechecked(this)'><input  v-if='#(thdata.isMultiple())' type="checkbox" name='checks' :value='user[ths[0]]' class='bigchk'></td>
						<td  v-for=' i  in ths.length' v-text='user[ths[i-1]]'>  </td>
					</tr>
					</tbody>
					<!-- <tbody v-else >{{userdatas.response.description}}</tbody> -->
		         </table>
	         </div>
			<!-- 跳转页面 -->
			<div class="container-fluid clearfix" id='pgnum'>	
				<ul id='jumpul' class="pull-left pagination">
					<li><a href='javascript:jumppage(1)'>首页</a></li>
					<li><a href='javascript:jumppage(p<=1?1:p-1)'>上页</a></li>
					<!--<div id='pagenum' style='display:inline;'>
					 <script type='x-template' id='pnumtpl'> -->
					<li v-for='p in ps'><a v-bind:href='"javascript:jumppage("+p+")"' :style='p==this.p?"background: #f5c46c;color:white;":""'>{{p}}</a></li>
					<li><a href='javascript:jumppage(p>total-1?total:p+1)'>下页</a></li>
					<li><a href='javascript:jumppage(total)'>尾页</a></li>
				</ul>
				<div class="pull-right" style="line-height:74px;">总条数：{{datacount}} 条 每页显示：{{page}} 条 总页数：{{total}} 页</div>
			</div>
			</div>
	     </div>  
	</div>
</body>
					
<script type="text/javascript">
//total= #(total??1);
p=1;
page=20;
datacount=#(datacount??0);
total=Math.max(Math.ceil(datacount/page),1);
select_user=null;
isMultiple=#(thdata.isMultiple()??false);
function getfields(){
	/*var datafieldname=document.getElementById('datafieldname');
	var thnodes=datafieldname.getElementsByTagName('th');
	ths=[];
	for (var i=0;i<thnodes.length;i++){
		ths.push(thnodes[i].getAttribute('field'));
	}
	thslength=ths.length;*/
	ths=[];
	#for(header:tableHeaderList)
		ths.push('#(header.fieldName)');
	#end;
	cnths=[];
	#for(header:tableHeaderList)
		cnths.push('#(header.CNName)');
	#end;
	tbkeys='#(thdata.keys)';
	requestPara= {
		tableName:'#(response.data.name)',
		tableHeaders:cnths,
		tableFields:ths,
		queryItem:'',
		querySql:'',
		page:p};
	return ths;
}
var vxd=new Vue({
	el:'#table_and_page',
	data:{
		ths:getfields(),
		//thslength:6,//ths.length,
		'userdatas':[],
		total:total,
		datacount:datacount,
		p:p,
		ps:getps(this.p),
		select_user:null
		//sta:this.userdatas!=null&&this.userdatas.response!=null&&this.userdatas.response.status==200
	},
	methods:{
		get_select_name:function(user){
			//layer.msg( user.id);
			vxd.select_user=select_user=user;	
			btnenable();
		}
	},
	watch:{
		p:function(v){//debugger;
			this.ps=getps(v);},
		userdatas:function(v){
			this.ps=getps(this.p);},
		datacount:function(v){
			this.total=Math.max(Math.ceil(v/page),1);}
	}
});
function getps(p){
		var i,ps=[];
		if(p>5&&p<total-5)for(i=0;i<11;i++ ){ps.push(p-5+i);}
		else if(p<=5)for(i=1;i<=Math.min(11,total);i++){ps.push(i);}
		else for(i=Math.max(total-10,1);i<=total;i++){ps.push(i);}
		return ps;
}
function setdatacountandtotal(resp){
	var userdata=JSON.parse( resp.target.responseText);
	vxd.userdatas={'response':userdata};
	respJson=JSON.parse( resp.target.responseText);		
	datacount=JSON.parse( resp.target.responseText)['data']['dataCount'];
	vxd.page=page=JSON.parse( resp.target.responseText)['data']['page'];
	total=Math.max(Math.ceil(datacount/page),1);
	//vpnum.datacount=datacount;
	vxd.datacount=datacount;
	requestPara.queryItem=respJson['data']['queryItem'];
	requestPara.querySql=respJson['data']['querySql'];
}
(function initdata(){
	var xhr=new XMLHttpRequest();
	xhr.open('get','#(dataUrl)');
	xhr.send();
	xhr.onload=function(resp){
		setdatacountandtotal(resp);
}})()
function getconditions(){
	var conditionnode=document.getElementById('conditions');
	var inputs=[];
	/*inputs=inputs.concat(conditionnode.getElementsByTagName('input'))
		.concat(conditionnode.getElementsByTagName('select'));*/
	var inp=conditionnode.getElementsByTagName('input');
	var sel=conditionnode.getElementsByTagName('select');
	for(var i=0;i<inp.length;i++){
		 inputs.push(inp[i]);
	}
	for(var j=0;j<sel.length;j++){
		 inputs.push(sel[j]);
	}
	var conditions='';
	for(var i=0;i<inputs.length;i++ ){
		if(inputs[i].value!=null&&inputs[i].value!='')
			if(inputs[i].type!='date')
			conditions+=inputs[i].name+':\''+inputs[i].value.trim()+'\',';
			else
			conditions+=inputs[i].name+':\''+Math.round(new Date(inputs[i].value.trim()+' 0:0').getTime()/1000)+'\',';
	}
	if(conditions != ''){
		conditions = conditions.substring(0,conditions.length-1);
	}
	console.log(conditions);
	return conditions;
	}
function seek(p){
	var conditions=getconditions();
	var xhr=new XMLHttpRequest();
	xhr.open('get','#(dataUrl)?'+((conditions==null||conditions=='')?'':'condition='+conditions)
			+'&'+(p==null?'':"page="+p));
	xhr.send();//'condition='+conditions);
	xhr.onload=function(resp){
		if(JSON.parse( resp.target.responseText)['status']==200){
			setdatacountandtotal(resp);
		}
		else
			layer.msg(JSON.parse( resp.target.responseText)['description']);
	}
}
function jumppage(p){
	this.p=p;
	requestPara.page=vxd.p=p;
	seek(p);
	
}
function selectall(ev){
	var inp=document.getElementById('tbody').getElementsByTagName('input');
	for(var i=0;i<inp.length;i++){
		inp[i].checked=ev.checked;
	}
}
function reversechecked(node){
	var inp=node.getElementsByTagName('input')[0];
	inp.checked=!inp.checked;
}
btnarea=document.getElementById('btnarea');
btns=btnarea.getElementsByTagName('button');
btns_dis=[];
for(var j=0;j<btns.length;j++){
	if(btns[j].getAttribute('needselrow')=='1'){
		btns_dis.push(btns[j]);
		btns[j].disabled=true;
	}
}
function btnenable(){
	for(var j=0;j<btns_dis.length;j++){
		btns_dis[j].disabled=false;
	}
}
</script>
	
</html>