<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>show Flow</title>
<script type="text/javascript" src='#assets("/assets/assets.jjs")'></script>
</head>
<body>
<form >
<div>
###流程对象名称
<h1>#(objectName??)</h1>
#for(x:list)

<br>
#(x.nodeName)
#(x.roleName) 
 #for(task:x.task)
 #(task.cur_approve_user_name)
 #(task.cur_approve_time)<br>
 #(task.cur_approve_opinion)
 #end
 <br>
 #for(picture:x.pictures)
    
  <img  src="#(picture)" width="110" height="100">
 #end
#end
</div>
</form>
</body>
<script type="text/javascript">
   /* if(#(objectName)==null||#(objectName)==""){
	alert("无法获取对象名称 ");
     } */
</script>
</html>