<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>测试表格模板</title>
<style type="text/css">
#jumpul li{display:inline;margin:3px;}
</style>
<script type="text/javascript" src='/js/vue/vue.js'></script>
</head>
###@jquery?()
<body>
	<!-- <p>遍历描述</p>
	#(response.description)
	<p>遍历状态</p>
	#(response.status)
	<p>遍历数据</p> -->
	#set(tableHeaderList = response.data.tableHeader)
	#set(searchList = response.data.search)
	###set(dataList = response.data.dataList)
	#set(btnList = response.data.button)
	#set(tableName = response.data.name)
	#set(dataUrl = response.data.dataUrl)
	<p>检索区域</p>
	<div id='conditions'>
		#if(searchList)
			#for(search:searchList)
				#if(search.type == "text")
					<input type="text" name="#(search.name)"/>
				#end
				#if(search.type == "select")
					<select name="#(search.name)">
						<option value="">--请选择--</option>
					#for(option:search.optionList)
						<option value="#(option.itemNo)">#(option.itemName)</option>
					#end
					</select>
				#end
				#if(search.type == "date")
					<p>时间检索</p>
				#end
			#end
		#end
		
	<p><button onclick='seek()'>查找</button></p>
	</div>
	<p>按钮区域</p>
	<div id='operations'>
	#if(btnList)
		#for(btn:btnList)
			<a href="#(btn.url)">#(btn.name)</a>&nbsp;&nbsp;&nbsp;&nbsp;
		#end
	#end
	</div>
	
	<p>表格数据</p>
	<div id='datatable' style='max-width:100%;overflow:auto;'>
	<table border="1">
		<thead>
		#if(tableHeaderList)
			<tr id='datafieldname'>
				#for(header:tableHeaderList)
					<th field='#(header.fildName)'>#(header.name)</th>
				#end
			</tr>
		#end
		</thead>
		<tbody>
		#--
		#for(data:dataList)
			<tr>
			#for(header:tableHeaderList)
				#for(rec:data.columns)
					#if(header.fildName == rec.key)
					<td>#(rec.value)</td>		
					#end
				#end	
			#end
			</tr>
		#end--#
		<tr  v-for='user in userdatas.dataList' v-on:click='get_select_name(user)'>
		<td  v-for=' i  in ths.length' v-text='user[ths[i-1]]'>  </td>
		</tr>
		</tbody>
		</table>
		<p>总条数：{{userdatas.dataList.length}} 条 每页显示：20 条 总页数：#(total) 页</p></div>
		<ul id='jumpul'>
		<li><a href='javascript:jumppage(1)'>首页</a></li>
		<li><a href='javascript:jumppage(p<=1?1:p-1)'>上页</a></li>
		<li><a href='javascript:jumppage(p>total-1?total:p+1)'>下页</a></li>
		<li><a href='javascript:jumppage(total)'>尾页</a></li></ul>
	</div>
</body>
<script type="text/javascript">

total= #(total);
select_user=null;
var vxd=new Vue({
	el:'#datatable',
	data:{'userdatas':[],
		total:total},
	methods:{
		get_select_name:function(user){
			//alert( user.id);
			select_user=user;
		}
	}
});;
p=1;
(function initdata(){
	var xhr=new XMLHttpRequest();
	xhr.open('get','#(dataUrl)');
	xhr.send();
	xhr.onload=function(resp){
		var userdata=JSON.parse( resp.target.responseText);
		vxd.userdatas=userdata;
}})()
function seek(){
	var conditionnode=document.getElementById('conditions');
	var inputs=conditionnode.getElementsByTagName('input');
	var conditions='';
	for(var i=0;i<inputs.length;i++ ){
		if(inputs[i].value!=null&&inputs[i].value!='')
		conditions+=inputs[i].name+':\''+inputs[i].value.trim()+'\', ';
	}
	console.log(conditions);
	var xhr=new XMLHttpRequest();
	xhr.open('get','#(dataUrl)?condition='+conditions);
	xhr.send();//'condition='+conditions);
	xhr.onload=function(resp){
		 vxd.userdatas=JSON.parse( resp.target.responseText);
	}
}
function jumppage(p){
	this.p=p;
	var xhr=new XMLHttpRequest();
	xhr.open('post','#(dataUrl)?p='+p);
	xhr.send();
	xhr.onload=function(resp){
	vxd.userdatas=JSON.parse( resp.target.responseText);}
	
}
(function getfields(){
	var datafieldname=document.getElementById('datafieldname');
	var thnodes=datafieldname.getElementsByTagName('th');
	ths=[];
	for (var i=0;i<thnodes.length;i++){
		ths.push(thnodes[i].getAttribute('field'));
	}
	thslength=ths.length;
	vxd.ths =ths ;
})()
</script>
</html>