<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>测试表格模板</title>
</head>
###@jquery?()
<body>
	<!-- <p>遍历描述</p>
	#(response.description)
	<p>遍历状态</p>
	#(response.status)
	<p>遍历数据</p> -->
	#set(tableHeaderList = response.data.tableHeader)
	#set(searchList = response.data.search)
	#set(dataList = response.data.dataList)
	#set(btnList = response.data.button)
	<p>检索区域</p>
	<div>
		#if(searchList)
			#for(search:searchList)
				#if(search.type == "text")
					<input type="text" name="#(search.name)"/>
				#end
				#if(search.type == "select")
					<select name="#(search.name)">
						<option value="">--请选择--</option>
					#for(option:search.optionList)
						<option value="#(option.itemNo)">#(option.itemName)</option>
					#end
					</select>
				#end
				#if(search.type == "date")
					<p>时间检索</p>
				#end
			#end
		#end
	</div>
	<p>按钮区域</p>
	<div>
	#if(btnList)
		#for(btn:btnList)
			<a href="#(btn.url)">#(btn.name)</a>&nbsp;&nbsp;&nbsp;&nbsp;
		#end
	#end
	</div>
	
	<p></p>
	<table border="1">
		<thead>
		#if(tableHeaderList)
			<tr>
				#for(header:tableHeaderList)
					<th>#(header.name)</th>
				#end
			</tr>
		#end
		</thead>
		<tbody>
		#for(data:dataList)
			<tr>
			#for(header:tableHeaderList)
				#for(rec:data.columns)
					#if(header.fildName == rec.key)
					<td>#(rec.value)</td>		
					#end
				#end	
			#end
			</tr>
		#end
	    </tbody>
	</table>
</body>
<script type="text/javascript">

$(document).ready(function() { 
	alert(33);
   /*  $.post("/test/show", {
            username: "111",
            password: "222",
            valicode: "333"
        },
        function(data) {
            if(data.status == 200) {
                alert("加载成功");
            } else {
                alert("加载失败");
            }
        },
        "json"); */
}); 
</script>
</html>