<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
   <div id="main" class="container">

  
   
   <form action="/user/submit"  method="post">
   <input type="hidden" name="user.id" value="#(user.id ??)">
    <div class="form-group">
    <label>姓名</label>
    <input name="user.name" value="#(user.name ?? )" type="text" >
    </div>
    <div class="form-group">
    <label>密码</label>
    <input  name="user.password" value="#(user.password ??)"  type="text" >
    </div>
     <div class="form-group">
    <label>角色id</label>
    <input  name="user.role_id" value="#(user.role_id ??)"  type="text"  >
    </div>
    
     <div class="form-group">
    <label><th>组织id</th></label>
    <input  name="user.belong_org_id" value="#(user.belong_org_id ??)"  type="text"  >
    </div>
    
    <div class="form-group">
    <label><th>组织名字</th></label>
    <input  name="user.belong_org_name" value="#(user.belong_org_name ??)"  type="text"  >
    </div>
    
    <div class="form-group">
    <label><th>手机</th></label>
    <input  name="user.phone" value="#(user.phone ??)"  type="text"  >
    </div>
    
    <div class="form-group">
    <label><th>状态</th></label>
    <input  name="user.status" value="#(user.status ??)"  type="text"  >
    </div>
 
  
    <div style="text-align: center">
    <button type="submit" class="btn btn-primary" style="width:120px;">提  交</button>
    </div>
   </form>
  

    
</div>
</body>
</html>

